body{
	color: #222;
	font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.sketches {
	float: left;
}

.sketches canvas {
	position: absolute;
	left: 0;
}

.sketch {
	/*background-color: #f0f0f0;*/
	cursor: pointer;
	border: black solid 1px;
	padding: 9px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	float: left;
}

.sketch:hover {
	border: red solid 1px;
}

/*.sketch:hover {
	background-color: #ddd;
}*/

.sketch_canvas {
	position: relative;
	height: 240px;
	width: 940px;
}

.sketch__fullscreen .sketch_canvas {
	height: 540;
}

.sketch_description {
	margin-bottom: 10px;
}

.sketch_description_main {
	font-size: 2em;
	font-weight: 300;
}

.sketch_description_sub {
	font-size: 1em;
	width: 940px;
}

.container {
	/*float: left;*/
	margin-bottom: 40px;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.header {
	margin-top: 20px;
	margin-bottom: 20px;
}

h1 {
	font-size: 4em;
	font-weight: 200;
	margin: 0;
}

h2 {
	font-size: 2em;
	font-weight: 300;
}
